<!DOCTYPE html>
<html>
<title>Clarity</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../static/themes/home.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.Bar,h1,button {font-family: "Montserrat", sans-serif}
</style>


<body>

  <div class="topnav">
    <a class="active" href="#home">Home</a>
    <a href="#quizzes">Quizzes</a>
    <a href="#videos">Videos</a>
  </div>

<header class="Container red Center" style="padding:75px 16px">



  <h1 class="margin jumbo_font">Clarity.</h1>
  <p class="margin3 xlarge_font"> No matter who you are, you have to power to encourage others with a variety of esteem issues to feel uplifted and see the brighter side, even if that person is you.
</p>
  <button class="button_press black padding-large large_font margin-top">Get Started</button>
</header>


<div class="Row_padding padding-64 Container">
  <div class="Content">
    <div class="Center_Width">
    <div class="row">
      <div class="column1"></div>
      <div class="column2"></div>
    </div>
      <h1 class= "margin4">Goals of Clarity</h1>
      <h5 class="padding-32"> </h5>

      <p class="grey"> Approximately 1 in 5 adults in the U.S.(43.8 million) suffer from some form of  </p>
    </div>




    <div class="Left_Center_Width Center">
      <i class="fa fa-anchor padding-64 black"></i>
    </div>
  </div>
</div>

<div class="Row_padding grey padding-64 Container">
  <div class="Content">
    <div class="Left_Center_Width Center">
      <i class="fa fa-coffee padding-64 black margin-right"></i>
    </div>

    <div class="Center_Width">
      <h1>Cool Story!</h1>
      <h5 class="padding-32">This is Ellana. I am cool! woohoo!</h5>

      <p class="grey"> Hello, this is Parth. I am cool. woohoo! </p>
    </div>
  </div>
</div>

<div class="Container black Center Opacity padding-64">
    <h1 class="margin xlarge_font">Advice of the day: Be Happy, Be You! See the Clarity! </h1>
</div>

<footer class="Container padding-64 Center Opacity">
  <div class="xlarge_font padding-32">
    </footer>

</body>
</html>
