<!DOCTYPE html>
<html>
<head>
  <title>Clarity</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/static/themes/home.css">
  <style>
  body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
  .Bar,h1,button {font-family: "Montserrat", sans-serif}
  </style>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <meta name="google-signin-client_id" content="995518340486-k2h0qc1bjb4e2795s5chd24mt2v5n69b.apps.googleusercontent.com">
</head>
<body>
  <div class="topnav">
    <a class="active" href="#home">Home</a>
    <a href="#quizzes">Quizzes</a>
    <a href="#videos">Videos</a>
  </div>
<header class="Container red Center" style="padding:75px 16px">

  <h1 class="margin jumbo_font">Clarity.</h1>
  <p class="margin3 xlarge_font"> No matter who you are, you have to power to encourage others with a variety of esteem issues to feel uplifted and see the brighter side, even if that person is you.
  </p>
  <div class="flex-container">
  <button class="g-signin2 red centered google_button" data-onsuccess="onSignIn"></button>
</div>
</header>


<div class="Row_padding padding-64 Container">
  <div class="Content">
    <div class="Center_Width">
    <div class="row">
      <div class="column1"></div>
      <div class="column2"></div>
    </div>
    <h1 class="centered">Goals of Clarity</h1>
    <p class="centered"> Approximately 1 in 5 adults in the U.S.(43.8 million) suffer from some form of mental illness. The goal of Clarity is to improve the mindset of our users. This is through quizzes and videos which help shed light on the truth about who you are. Press quizzes above and get started! </p>

    </div>
  </div>
</div>

<<div class="slideshow-container">

  <div class="mySlides fade Center_Width centered">
    <div class="numbertext" id= image>1 / 3</div>
    <img src="/static/images/img1.jpg" style="width:100%">
  </div>

  <div class="mySlides fade Center_Width centered">
    <div class="numbertext" id= image>2 / 3</div>
    <img src="/static/images/img2.jpg" style="width:100%">
  </div>

  <div class="mySlides fade Center_Width centered">
    <div class="numbertext" id= image>3 / 3</div>
    <img src="/static/images/img3.jpg" style="width:100%">
  </div>


  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>

<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>


<br>

<div class="Row_padding grey padding-64 Container">
  <div class="Content">

    <div class="Center_Width">
      <div id="myDIV" class="header">
      <h2>Feel Better Checklist</h2>
      <p class="red"> Check off each of the following and add anything else you will do in order to show just how amazing you are!</p>
      <input type="text" id="myInput" placeholder="I will...">
      <span onclick="newElement()" class="addBtn">Add</span>
    </div>

    <ul id="myUL">
      <li class="checked"> Be Wonderful!</li>
      <li>Take a deep breath, close my eyes, and visualize things working out.</li>
      <li>Get in front of a mirror or your phone and smile.</li>
      <li>Write down five things that I am proud of and stick the list in my wallet/purse to pull out to remind myself that I am awesome.</li>
      <li>Call a friend and tell them I want to talk</li>
      <li>Watch a silly pet video.</li>
      <li>Stop comparing myself to others</li>
    </ul>
    </div>
  </div>
</div>

<div class="Container black Center Opacity padding-64">
    <br>
    <br>
    <h1 class="margin xlarge_font">Advice of the Day:</h1>
    <h1 class="margin xlarge_font">{{fortune}}</h1>
    <br>
    <br>
    <br>

</div>

<footer class="Container red padding-32 Center Opacity">
  <div class="large_font padding-32">Created in CSSI 2018 NYC by Parth Vora, Ellana Lawrence, and Tyra Edgehill-Parker
    </footer>
<script src="/static/scripts/home.js"> </script>
</body>
</html>
