<!DOCTYPE html>
<html>
<head>
  <title> Quizzes </title>
<body>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/static/themes/home.css">
  <style>
  body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
  .Bar,h1,button {font-family: "Montserrat", sans-serif}
  </style>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <meta name="google-signin-client_id" content="995518340486-k2h0qc1bjb4e2795s5chd24mt2v5n69b.apps.googleusercontent.com">
</head>
<body>
  <div class="topnav">
    <a href="/">Home</a>
    <a class="active" href="/quizzes">Quizzes</a>
    <a href="/videos">Videos</a>
  </div>
<header class="Container red Center" style="padding:75px 16px">

  <h1 class="margin jumbo_font">Quizzes.</h1>
  <p class="margin3 xlarge_font"> If you are feeling low, take a quiz and feel better!
  </p>

</header>

</div>
<br>
<div class="row">
  <div id="imggroup1 image_fullwidth image_fullheight">
    <a href="/test">
      <img class="red image_fullwidth" src="../static/images/introverted.jpeg" alt="Introverted Quiz" width="" height="" border="25px">
      <a href="/test">
      <img class="red image_fullwidth image_height" src="../static/images/impostersyn.jpeg" alt="Introverted Quiz" width="" height="" border="25px">
  </div>
  <div id="imggroup2">
      <a href="/test">
      <img class="red" src="../static/images/fail.jpeg" alt="Introverted Quiz" width="" height="" border="25px">
      <a href="/test">
      <img class="red image_fullwidth" src="../static/images/minorities.jpeg" alt="Introverted Quiz" width="" height="" border="25px">
  </div>
</div>
<div id="imggroup3">
  <a href="/test">
  <img class="red image_fullwidth image_fullheight" src="../static/images/bodyshamed.jpeg" alt="Introverted Quiz" width="" height="" border="25px">
</div>


</a>


</body>

</head>
<script type="text/javascript">function add_chatinline(){var hccid=94021619;var nt=document.createElement("script");nt.async=true;nt.src="https://mylivechat.com/chatinline.aspx?hccid="+hccid;var ct=document.getElementsByTagName("script")[0];ct.parentNode.insertBefore(nt,ct);}
add_chatinline(); </script>
</html>
