<html>
<head>
</head>
<body>
  <div>{{title}}</div>
  <br>
  <div id="list">
    {%for question in question_list%}
      <div class="question">{{question}}</div>
    {%endfor%}
  </div>
  <form method="post" id="quiz">
    Points: <span name="points">{{points}}</span>
    <div id="all_questions">
      <!--Creates one question with 5 different number choices
          7 more copies are made using javascript-->
      <div id="question1">
        <div class="question_title">Question:</div>
        <input  type="radio" name="q1" value=1 required>1: Strongly Disagree
        <input  type="radio" name="q1" value=2 required>2: Disagree
        <input  type="radio" name="q1" value=3 required>3: Neutral
        <input  type="radio" name="q1" value=4 required>4: Agree
        <input  type="radio" name="q1" value=5 required>5: Strongly Agree
        <br>
      </div>
    </div>
    <br>
    <button type="submit" id="submit_button">Be Positive!</button>
  </form>
  <script src="../static/scripts/home2.js"></script>
</body>
</html>
