<!DOCTYPE html>
<html>
<head>
  <title> Videos </title>
<body>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/static/themes/home.css">
  <style>
  body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
  .Bar,h1,button {font-family: "Montserrat", sans-serif}
  </style>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <meta name="google-signin-client_id" content="995518340486-k2h0qc1bjb4e2795s5chd24mt2v5n69b.apps.googleusercontent.com">
</head>
<body>
  <div class="topnav">
    <a class="active" href="#home">Home</a>
    <a href="/quizzes">Quizzes</a>
    <a href="/videos">Videos</a>
  </div>
<header class="Container red Center" style="padding:75px 16px">

  <h1 class="margin jumbo_font">Videos</h1>
  <p class="margin3 xlarge_font"> Take a look.
  </p>
  <!--
  <div class="flex-container">
  <button class="g-signin2 red centered google_button" data-onsuccess="onSignIn"></button>
-->
</div>
</header>
</body>

</head>
</html>
